.detail-three-columns {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: stretch;
    gap: 25px;
  }
}

.column-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 0;
}

.column-map {
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    width: 320px;
    height: 100%;
  }
  @media (min-width: 1280px) {
    width: 500px;
    height: 100%;
  }

  app-map {
    width: 100% !important;
    height: 450px !important;
    flex-grow: 1;
    overflow: hidden;
    display: block;

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: 270px !important;
    }
  }
}

.column-photo {
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    width: 320px;
    height: 100%;
  }
  @media (min-width: 1280px) {
    width: 500px;
    height: 100%;
  }
}

.cat-img-container {
  overflow: hidden;
  background: #0d1322;
  width: 100%;
  height: 450px;
  flex-grow: 1;

  @media (min-width: 1024px) and (max-width: 1279px) {
    height: 270px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
