/* Header della lista */
header {
  margin-bottom: 25px;
}

header h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

header h1 span {
  color: var(--color-primary);
}

header p {
  font-size: 15px;
  color: var(--color-text-secondary);
}
