
:root {
  --bg-main: #162030;
  --bg-alt: #090d16;
  --primary: #7c5cf6;
  --danger: #f43f5e;
  --text-main: #fff;
  --text-alt: #94a3b8;
  --white: #fff;
}

html,
body {
  font-family: sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}


// Input
input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  background: var(--bg-main);
  border: 1px solid var(--bg-alt);
  color: var(--text-main);
  font-family: inherit;
  font-size: 15px;
}

// Contenitori 
.card {
  background: var(--bg-main);
  border: 1px solid var(--bg-alt);
  padding: 20px;
}

// Pulsanti 
.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background: var(--primary);
  color: var(--white);
}

.btn-danger {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background: var(--bg-main);
  color: var(--danger);
}

// Form e Testi 
.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-alt);
}

.text-secondary {
  font-size: 15px;
  color: var(--text-alt);
}