<nav
  style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 10px 25px; min-height: 60px; border-bottom: 1px solid var(--bg-alt); background: var(--bg-main);">
  <a routerLink="/" style="display: flex; align-items: center; gap: 10px; cursor: pointer;">
    <span style="width: 30px; height: 30px; background: var(--primary); display: flex;">
      <img src="/catLogo.webp" style="width: 100%; height: 100%; object-fit: contain;">
    </span>
    <span style="font-size: 15px; color: white">StreetCats</span>
  </a>

  <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 10px;">
    <a routerLink="/cats" style="padding: 5px 15px; font-size: 15px; color: var(--text-alt); cursor: pointer;">
      Esplora gatti
    </a>

    @if (authService.isAuthenticated()) {
    <a routerLink="/cats/new" style="padding: 5px 15px; font-size: 15px; color: var(--text-alt); cursor: pointer;">
      Nuova segnalazione
    </a>
    <a routerLink="/profile" style="padding: 5px 15px; font-size: 15px; color: var(--text-alt); cursor: pointer;">
      Il mio profilo
    </a>
    <span style="height: 20px; background: var(--bg-main);"></span>
    <button (click)="logout()"
      style="background: transparent; border: none; color: var(--danger); font-family: inherit; cursor: pointer;">Esci</button>
    } @else {
    <span style="height: 20px; background: var(--bg-main);"></span>
    <a routerLink="/login"
      style="display: inline-flex; align-items: center; gap: 5px; font-family: inherit; font-weight: 500; font-size: 15px; padding: 10px 15px; background: var(--primary); cursor: pointer;">Accedi</a>
    }
  </div>
</nav>