:host {
  display: block;
  margin-top: auto;
}

footer {
  border-top: 1px solid var(--color-border);
  background: var(--color-background);
  padding: 20px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-bg {
  width: 25px;
  height: 25px;
}

.project-info {
  color: var(--color-text-muted);
  font-size: 10px;
}