:host {
  display: block;
}

nav {
  position: sticky;
  top: 0;
  z-index: 50;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  padding: 0 25px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-link {
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.nav-link:hover {
  color: white;
}

.nav-sep {
  width: 1px;
  height: 20px;
  background: var(--color-border);
  margin: 0 5px;
}


.btn-logout:hover {
  opacity: 0.8;
}