:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}


.meta-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-text-muted);
}

/* Contenuto */
section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
