extends ./base-layout.pug

block content 
  .py-5.my-5.text-center
    img(class=".d-block.mx-auto.mb-4" src='/img/node.png' alt='Node.js Logo' width='120px')
    h1.display-5.fw-bold.text-body-emphasis Node.js To-do App
    .col-lg-6.mx-auto
      p.lead.mb-4.pt-2
        | A simple web app built using 
        strong Node.js 20.9.0
        | .
        | The app uses only standard Node.js modules and the 
        a(href="https://pugjs.org/api/getting-started.html" target="_blank") Pug template engine
        | . 
        | A session tracking mechanism, implemented from scratch, is included.
        | Source code and Docker environment available on Github.
      p.lead.mb-4
        strong Beware:
        |  This web app is intended as a basic first example to showcase
        |  server-side scripting. It is not representative of modern web development practices!
      .d-grid.gap-2.d-sm-flex.justify-content-sm-center
        a.btn.btn-primary.btn-lg.px-4.gap-3(href='/todo') Manage your To-do List
