extends ./base-layout.pug

block content 
  h1 To-do list app has been reset
  p The To-do list app has been successfully reset and all items and users have been deleted. 
    a(href="/") Go back to the homepage.