<div>

  <header style="display: flex; align-items: center; justify-content: space-between; gap: 25px; flex-wrap: wrap;">
    <div>
      <h1 style="font-size: 30px; margin-bottom: 5px;">{{ 'Profilo di: ' + user?.userName || 'Profilo' }}</h1>
      @if (user) {
      <div class="text-secondary" style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap;">
        <span>{{ user.email }}</span>
        <span>{{ 'Ruolo: ' + user.role === 'admin' ? 'Amministratore' : 'Utente' }}</span>
      </div>
      }
    </div>
  </header>

  @if (user) {

  <!-- Segnalazioni -->
  <section>
    <h2 style="font-size: 20px;">Le mie segnalazioni: {{ recentCats.length }}</h2>

    @if (recentCats.length === 0) {
    <p class="text-secondary">Non hai ancora fatto nessuna segnalazione.</p>
    } @else {
    <div style="display: flex; flex-direction: column; gap: 15px;">
      @for (cat of recentCats; track cat.id) {
      <a [routerLink]="['/cats', cat.id]" class="card"
        style="display: flex; align-items: center; justify-content: space-between;  gap: 15px;">
        <div>
          <span style="font-size: 15px; font-weight: bold;">Nome Gatto: {{ cat.name }}</span>
        </div>
        <span class="text-secondary" style="font-size: 13px;">
          {{ cat.createdAt |date:'d MMM yyyy, HH:mm' }}
        </span>
      </a>

      }
    </div>
    }
  </section>

  <!-- Commenti -->
  <section>
    <h2 style="font-size: 20px;">I miei commenti recenti: {{ recentComments.length }}</h2>

    @if (recentComments.length === 0) {
    <p class="text-secondary">Non hai ancora lasciato nessun commento.</p>
    } @else {
    <div style="display: flex; flex-direction: column; gap: 15px;">
      @for (comment of recentComments; track comment.id) {
      <a [routerLink]="comment.Cat ? ['/cats', comment.Cat.id] : ['/cats']" class="card"
        style="display: flex; flex-direction: column; gap: 5px;">
        <header style="display: flex; align-items: center;  gap: 15px;">
          @if (comment.Cat) {
          <span style="font-size: 15px; font-weight: bold;">Nome Gatto: {{ comment.Cat.name }}</span>

          }
          <span class="text-secondary" style="font-size: 13px;">
            {{ comment.createdAt | date:'d MMM yyyy, HH:mm' }}
          </span>
        </header>
        <p class="text-secondary">
          <span style="font-weight: bold; color: var(--white);">Commento: </span>{{ comment.text }}
        </p>
      </a>
      }
    </div>
    }
  </section>
  }
</div>